.navigation::after {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .15), transparent);
  content: '';
  height: 0.4rem;
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
}

.border {
  height: 1px;
}

.fadeOutStart {
  background-color: theme('colors.orange.200');
}

.fadeOutEnd {
  background-color: theme('colors.orange.200');
}

.fadeOutStart:before,
.fadeOutEnd:before {
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  width: theme('spacing.6');
}

.fadeOutStart:before {
  background-image: linear-gradient(to right, theme('colors.orange.200'), rgba(255, 255, 255, 0));
  left: 100%;
}

.fadeOutEnd:before {
  background-image: linear-gradient(to right, theme('colors.orange.200'), rgba(255, 255, 255, 0));
  right: 100%;
  transform: rotate(-180deg);
}

.slide {
  width: auto;
}
