.blockSwitch {
  display: grid;
  grid-template-columns: [full-start] minmax(6rem,1fr) [content-start] 1fr  [content-end] 1fr [content-wide-end] minmax(6rem,1fr) [full-end]
}

.content {
  grid-column: content;
}
