.radio {
  opacity: 0;
  position: absolute;
}

.radio:checked + .label::after {
  background-color: currentColor;
}

.label {
  margin-left: 3.5rem;
}

.label::before {
  content: '';
  position: absolute;
  display: inline-block;
  left: -3.5rem;
  border-radius: 50%;
  border: 2px solid currentColor;
  width: 2.5rem;
  height: 2.5rem;
  background: white;
  top: 1rem
}

.label::after {
  content: '';
  position: absolute;
  display: inline-block;
  left: -2.9rem;
  top: 1.55rem;
  border-radius: 50%;
  width: 1.3rem;
  height: 1.3rem;
  background-color: transparent;
}
