.link,
.whitelink {
  --box-shadow-color: theme('colors.orange.200');

  box-shadow: inset 0 -0.7rem var(--box-shadow-color);
}

.whitelink {
  --box-shadow-color: theme('colors.white');
}

@screen md {
  .whitelink,
  .link {
    box-shadow: inset 0 -1.1rem var(--box-shadow-color);
  }
}

.link:hover,
.link:focus {
  --box-shadow-color: theme('colors.orange.800');
}

a:hover .whitelink,
a:focus-visible .whitelink {
  --box-shadow-color: theme('colors.black');
}

